@media (min-width: 769px) {
  .wrapper {
    margin: 0 auto;
    width: 80%;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 145px;
  }
  
  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
  }
  
  .menu__item_active::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056ec;
    transition: opacity 0.5s;
  }
  
  .menu__item:hover {
    opacity: 0.5;
  }
  
  .menu__item:hover::after .menu__item_active::after {
    opacity: 1;
  }
  
  .menu__item:last-child {
    margin-right: 0;
  }
  
  .logo {
    position: relative;
    padding: 35px 0;
    padding-left: 44px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
    width: 190px;
    height: 35px;
  }
  
  .logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  
  .logo__circle_color_dark-blue {
    background: #0056ec;
  }
  
  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #c8dbfb;
    opacity: 0.7;
  }
  
  .main {
    padding: 65px 65% 300px 0;
    background: no-repeat top right url(img/frame.svg);
  }
  
  .main__title {
    margin: 0 0 40px 0;
    font: bold 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  }
  
  .main__subtitle {
    margin: 0 80px 41px 0;
    font: 500 Ñ‹22px/26px Roboto, arial, helvetica, sans-serif;
  }
  
  .main__title-text_highlight {
    background: #ecf3ff;
  }
  
  .main__button {
    display: inline-block;
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 14px 35px 18px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
  }
  
  .main__button:hover {
    opacity: 0.5;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  @media (max-width: 1367px) {
    .wrapper {
      width: 68%;
    }
    
    .header {
      margin-bottom: 95px;
    }
    
    .menu__item {
      position: relative;
      margin-right: 26px;
      font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
      color: #000;
      text-decoration: none;
    }
    
    .main {
      padding: 0 55% 200px 0;
      background: no-repeat top right url(img/Frame3.svg);
    }
    
    .main__title {
      margin: 0 0 40px 0;
      font: bold 50px/66px pt_serifbold, arial, helvetica, sans-serif;
    }
    
    .main__subtitle {
      margin: 0 0 43px 0;
      font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    }
    
    .main__title-text_highlight {
      background: #ecf3ff;
    }
    
    .main__button {
      display: inline-block;
      font: 14px/16px Roboto, arial, helvetica, sans-serif;
      color: #fff;
      background: #0056ec;
      padding: 14px 25px 13px 14px;
      text-decoration: none;
      border-radius: 4px;
      transition: opacity 0.5s;
    }
  }
  
  @media (max-width: 1024px) {
    .wrapper {
      width: 92%;
    }
    
    .header {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: 88%;
  }
  
  .menu {
    display: none;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  #menu__toggle {
    display: none;
  }
  
  .logo {
    position: relative;
    padding: 50px 0 0 0;
  }
  
  .logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  
  .logo__circle_color_dark-blue {
    background: #0056ec;
  }
  
  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #c8dbfb;
    opacity: 0.7;
  }
  
  .logo__text {
    opacity: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 24px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
    transition-duration: 0.25s;
  }
  
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  
  .menu__item {
    display: block;
    padding: 24px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background: url(img/Frame1.svg) no-repeat center top;
  }
  
  .main__title {
    margin: 0 0 40px 0;
    font: 700 30px/39px pt_serifbold, arial, helvetica, sans-serif;
  }
  
  .main__subtitle {
    margin: 0 0 25px 0;
    padding: 0 25px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }
  
  .main__title-text_highlight {
    background: #ecf3ff;
  }
  
  .main__button {
    display: inline-block;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 14px 25px 13px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
  }
}
