.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
.logo {
  padding: 40px;
  font: bold 24px/31px pt_serif;
  width: 190px;
  height:35px;
  }
.logo__circle {
  width: 28px;
  height: 28px;
 position: absolute;
}
.logo__circle_color_dark-blue {
  left: 10px;
  top: 45px;
  background: #0056EC;
 border-radius: 50%;
}
.logo__circle_color_blue {
  left: 17px;
  top: 52px;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: 0.7;
}
