@font-face { 
    font-family: 'pt_serifbold';
    src: url('C:\Users\damon\OneDrive\Документы\SaytForMyLogo\fonts') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face { 
    font-family: 'pt_serifbold_italic';
    src: url('C:\Users\damon\OneDrive\Документы\SaytForMyLogo\fonts') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face { 
    font-family: 'pt_serifitalic';
    src: url('C:\Users\damon\OneDrive\Документы\SaytForMyLogo\fonts') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face { 
    font-family: 'pt_serifregular';
    src: url('C:\Users\damon\OneDrive\Документы\SaytForMyLogo\fonts') format('woff');
    font-weight: normal;
    font-style: normal; 
}
